@if (this.isLoading) {
    <div class="loading">
        <p-progressSpinner></p-progressSpinner>
    </div>
}
@else {
    <div class="game">
        <app-grid 
            [wordGrid]="game.wordGrid"
            [keyPressEvent]="keyPressEvent"
            [revealLetterEvent]="revealLetterEvent"
            (hasWin)="handleWinOrLose($event)"
        ></app-grid>

        <p-speedDial 
            [model]="spinItems" 
            [radius]="150" 
            direction="up-right" 
            type="quarter-circle" 
        ></p-speedDial>

        <p-dropdown 
            [options]="game.availableLanguages" 
            [(ngModel)]="game.selectedLanguage" 
            optionLabel="fullName" 
            [showClear]="false" 
            placeholder="Select a language"
            (onChange)="onLanguageChange($event)"
        >
        </p-dropdown>
    </div>
}