@if (this.isLoading) {
    <div class="loading">
        <p-progressSpinner></p-progressSpinner>
    </div>
}
@else {
    <div class="game">
        <app-grid 
            [wordGrid]="game.wordGrid"
            [keyPressEvent]="keyPressEvent"
            [revealLetterEvent]="revealLetterEvent"
            (hasWin)="handleWinOrLose($event)"
        ></app-grid>

        <p-speedDial 
            [model]="spinItems" 
            [radius]="150" 
            direction="up-right" 
            type="quarter-circle" 
        ></p-speedDial>

        <p-dropdown
            #languageDropDown
            [tabindex]="0"
            [options]="game.availableLanguages" 
            [(ngModel)]="game.selectedLanguage" 
            optionLabel="isoCode" 
            placeholder="Select a language"
            (onChange)="onLanguageChange($event)"
        >
            <ng-template pTemplate="selectedItem">
                @if (game.selectedLanguage) {
                    <div class="flex align-items-center gap-2">
                        <div>{{ getFlafFromLanguageIsoCode(game.selectedLanguage.isoCode) }} {{ game.selectedLanguage.isoCode }}</div>
                    </div>
                }
            </ng-template>
            <ng-template let-language pTemplate="item">
                <div class="flex align-items-center gap-2">
                    <div>{{ getFlafFromLanguageIsoCode(language.isoCode) }} {{ language.isoCode }}</div>
                </div>
            </ng-template>
        </p-dropdown>
    </div>
}