<p-toast 
    [showTransformOptions]="'translateY(100%)'" 
    [showTransitionOptions]="'500ms'" 
    [hideTransitionOptions]="'500ms'" 
    [showTransformOptions]="'translateX(100%)'"
></p-toast>

<div class="game" [@fadeInOut]>
    @if (this.gameService.isLoading) {
        <div class="loading">
            <p-progressSpinner></p-progressSpinner>
        </div>
    }
    @else {
        <p-speedDial 
            [model]="spinItems" 
            [radius]="150" 
            direction="up-right" 
            type="quarter-circle" 
        ></p-speedDial>

        <div class="grid">  
            @for (userWord of gameService.wordGrid.words; track userWord; let userWordIndex = $index) {
                <div class="row">
                    @for (letter of userWord.letters; track letter; let letterIndex = $index) {
                        <div 
                            [@letterAnimation] [@.disabled]="!gameService.CurrentUserWord.IsComplete"
                            [ngClass]="[
                                'cell', 
                                letter.htmlClass, 
                                userWordIndex === this.gameService.wordGrid.CurrentWordIndex && userWord.CurrentLetterIndex === letterIndex ? 'selected-cell' : ''
                            ]"
                        >
                            <p>{{ letter.value }}</p>
                        </div>
                    }
                </div>
            }
        </div>
    }
</div>