.container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
}

.cell {
    width: 100px;
    height: 100px;
    border: 2px solid rgb(223, 223, 223);
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.selected-cell {
    background-color: rgba(255, 255, 255, 0.6);
}

.cell > p {
    color: rgb(223, 223, 223);
    height: 100%;
    width: 100%;
    font-size: 80px;
    text-align: center;
}

.correct {
    background-color: rgb(0, 110, 0);
}

.incorrect {
    background-color: rgb(100, 0, 0);
}

.almost {
    background-color: rgb(200, 130, 0);
}

h1 {
    top: 1rem;
    width: 100%;
    text-align: center;
    font-size: 80px;
    color: rgb(223, 223, 223);
}