<div class="container">
    <h1>{{title}}</h1>
    <p-toast></p-toast>
    <div class="game" *ngIf="!this.gameService.isLoading">
        <div class="row" *ngFor="let word of this.gameService.words; let rowIndex = index;">
            <div 
                class="cell" 
                *ngFor="let letter of word.letters; let colIndex = index;" 
                [class]="letter.style"
                [ngClass]="{'selected-cell': isActive(rowIndex, colIndex)}">
                <p>{{letter.value}}</p>
            </div>
        </div>
    </div>

    <app-loading *ngIf="this.gameService.isLoading"></app-loading>
</div>
