<div class="grid">  
    @for (userWord of wordGrid.words; track userWord; let userWordIndex = $index) {
        <div class="row">
            @for (letter of userWord.letters; track letter; let letterIndex = $index) {
                <div 
                    [@letterAnimation] [@.disabled]="wordGrid.currentUserWord.isComplete"
                    [ngClass]="[
                        'cell', 
                        letter.htmlClass, 
                        userWordIndex === wordGrid.currentUserWordIndex && userWord.currentLetterIndex === letterIndex ? 'selected-cell' : ''
                    ]"
                >
                    <p>{{ letter.value }}</p>
                </div>
            }
        </div>
    }
</div>