html, body, h1 {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

html {
    max-width: 100vw;
    max-height: 100vh;
    overflow: hidden;
}

body {
    height: 100vh;
    width: 100vw;
    background-color: #000000e9;
    display: flex;
    flex-direction: column;
    align-items: center;
}

app-root {
    width: 100%;
    height: 100%;
}

.row {
    display: flex;
    width: fit-content;
}

p {
    margin: 0;
}