<div class="container">
    <div class="option-block">
        <label htmlFor="letter-animation-duration">Letter animation duration (in ms):</label>
        <input pInputText type="number" id="letter-animation-duration" [(ngModel)]="gameSettingsService.letterAnimationDurationInMs" />
    </div>
    <div class="option-block">
        <label htmlFor="number-of-word-loaded-at-once">Number of word loaded at once:</label>
        <input pInputText type="number" id="number-of-word-loaded-at-once" [(ngModel)]="gameSettingsService.numberOfWordLoadedAtOnce" />
    </div>
    <div class="option-block">
        <label htmlFor="minimum-word-length">Minimum word length:</label>
        <input pInputText type="number" id="minimum-word-length" [(ngModel)]="gameSettingsService.minWordLength" />
    </div>
    <div class="option-block">
        <label htmlFor="maximum-word-length">Maximum word length:</label>
        <input pInputText type="number" id="maximum-word-length" [(ngModel)]="gameSettingsService.maxWordLength" />
    </div>
    <div class="option-block">
        <label htmlFor="max-number-of-tries">Maximum number of tries:</label>
        <input pInputText type="number" id="max-number-of-tries" [(ngModel)]="gameSettingsService.maxNumberOfTries" />
    </div>
    <div class="option-block">
        <label htmlFor="delay-before-new-game">Delay before a new game (in ms):</label>
        <input pInputText type="number" id="delay-before-new-game" [(ngModel)]="gameSettingsService.delayBeforeNewGame" />
    </div>
    <p-button label="Reset settings" (onClick)="reset()"></p-button>
</div>
