.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 2rem;
}

.option-block {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

label {
    margin-bottom: 0.3rem;
}

p-button {
    align-self: center;
}